@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #fa004b;
    --main-colorTwo: #1911f1;
    --contact-color: #7a7a7a;
    --error-color: #f8ca0a;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


.Header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    backdrop-filter: blur(20px);
}


.Logo{
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.Navbar{
    position: relative;
}

.Navbar a{
    position: relative;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 2rem;
    transition: .5s;
    padding: 3px 10px;
}

.Navbar a:hover,
.Navbar a.active{
    color: var(--main-color);   
    border-bottom: 2px solid var(--main-color);
    border-radius: 15px;
}
 
#Menu-icon{
    position: relative;
     font-size: 3.6rem;
     color: var(--text-color);
     display: none;
}

/*Home Start ----*/

.Home{
    min-height: 100vh;
    padding: 10rem 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home-img img{
    width: 35vw;
   transition: .3s;
}

.Home-img img:hover{
    background: var(--bg-color);
    opacity: .5;
}

.Home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    
}

.Home-content h1{
    position: relative;
    display: inline-block;
}

.Home-content span{
    font-size: 2.6rem;
}


.Home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}

.Home-content span{
    
    position: relative;
    color: transparent;
    -webkit-text-stroke: .9px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;   
    background-position: 0 0;
    animation: homeText 6s linear infinite;
    animation-delay: 2s;
}

.Home-content span::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;

}

.Home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.Home-content p{
    font-size: 1.6rem;
    text-align: justify;
}

.Button{
    margin: 20px 20px 0 0;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s;
}

.Button:hover{
    box-shadow: none;
    color: var(--text-color);
    
}
 

/*---- End Home*/

/*About Start ----*/

.About{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding: 7rem 5%;
}

.About-img{
    position: relative;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.About-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-colorTwo);
}

.About-img .Circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-colorTwo);
    border-right: .2rem solid var(--main-colorTwo);
    animation: aboutSpinn 8s linear infinite;
}


.Heading{
    text-align: center;
    font-size: 4.5rem;

}

.About-content h2{
    text-align: left;
    line-height: 1.2;
}

.About-content h3{
    font-size: 2.6rem;
}

.About-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: justify;
}

/*---- End About*/

/*Skill Start ----*/

.Skill h2{
    padding: 6.5rem 2%;
}

.Skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 3% 5%;
}

.Skill-container .Skill-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}

.Skill-container .Skill-box:hover{
    border-color: var(--main-color);
    transform: scale(1.05);
}

.Skill-box i{
    font-size: 7rem;
    color: var(--main-color);
}

.Skill-box h3{
    font-size: 2.6rem;
}

.Skill-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    text-align: justify;
}

/*---- End Skill*/

/*Portfolio Start ----*/

.Portfolio{
    background: var(--second-bg-color);
    padding: 5%;
}

.Portfolio h2{
    margin-bottom: 4rem;
}

.Portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.Portfolio-container .Portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.Portfolio-box img{
    width: 100%;
    transition: .5s ease;
}

.Portfolio-box:hover img{
    transform: scale(1.5);
}

.Portfolio-box .Portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.Portfolio-box:hover .Portfolio-layer{
    transform: translateY(0);
}

.Portfolio-layer h4{
    font-size: 3rem;
    
}

.Portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.Portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.Portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}

/*---- End Portfolio*/

/*Contact Start ----*/

.Contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 10% 5%;
}

.Contact h2{
    padding: 6rem 0 0 0;
}

.Contact form{
    width: 700px;
    text-align: center;
    
}

form .Input-box{
    display: flex;
    justify-content: space-between;
    
}

.Input-box .input-field{
    width: 48%;
}

.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid var(--main-color);
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    color: var(--text-color);
    margin: 12px 0;
}

.field.error .item{
    border-color: var(--error-color);
}

.field .item::placeholder{
    color: var(--contact-color);
    font-size: 12px;
}

.field .error-txt{
    font-size: 11px;
    color: var(--error-color);
    text-align: left;
    margin: -5px 0 ;
    display: none;
}

.field.error .error-txt{
    display: block;
}

form .textarea-field .item{
    resize: none;
}

form .textarea-field .error-txt{
    margin-top: -10px;
}


/*---- End Contact*/

/*Start Footer ----*/

.Footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.Footer-text p{
    font-size: 1.6rem;
}

.Footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.Footer-iconTop a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.Footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/*---- End Footer*/

/*============================================*/

/*Start Animation and Reload ----*/

.animate{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--main-color);
    z-index: 98;
}

.Logo .animate,
.Navbar .animate,
#Menu-icon .animate,
.Home .animate{
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

/*---- End Animation and Reload*/


/*Start Keyframe ----*/

@keyframes showRight{
    100%{
        width: 0;
    }
}

@keyframes aboutSpinn{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes homeText{
    0%,
    10%,
    100% {
        background-position: -33rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText{
    0%,
    10%,
    100% {
       
        width: 0;
    }

    65%,
    78%,
    85% {
        
       width: 100%;
       opacity: 1;
    }

    75%,
    81% {
         
        opacity: 0;
    }
}


/*---- End Keyframe*/


/*Start Responsive ----*/

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .Header {
        font-size: 2rem 3%;
    }
 
    .Skill{
        padding-bottom: 7rem;
    }

    .Portfolio{
        padding-bottom: 7rem;
    }

    .Contact{
        min-height: auto;
    }

    .Footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {
    #Menu-icon{
        display: block;
    }
    
    .Navbar{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
    } 

    .Navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .Navbar .active-Navbar{
        position: absolute;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background: var(--second-bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0;
    }

    .Navbar.active .active-Navbar{
        left: 0;
        transition-delay: .25s;
    }

    .Navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
        
    }

    .Navbar.active a{
        transform: translateX(0);
        transition-delay: .25s;
        border: none;
    }

    .Home{
        text-align: center;
        flex-direction: column;
       
    }

    .Home-content h3 {
        font-size: 2.6rem;
    }

    .Home-content h1{
        font-size: 5rem;
    }

    .Home-img img{
        width: 70vw;
        margin-top: 4rem;
    }


    .About{
        flex-direction: column-reverse;
    }

    .About-img{
        width: 30rem;
        height: 30rem;
    }

    .About-img img{
        width: 90%;
  

    .About-content .Heading{
        text-align: center;
    }

    .About-content h3{
        text-align: center;
    }

    .About img{
        width: 70vw;
        margin-top: 4rem;
    }

    .Skill h2{
        margin-bottom: 3rem;
    }

    .Portfolio{
       padding: 10% 5%;

    }

    .About{
        padding: 10% 5%;
    }

    .Portfolio h2{
        margin-bottom: 3rem;
    }

    .Portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 617px) {
    .Portfolio-container{
        grid-template-columns: 1fr;
    }

}

@media (max-width: 450px) {
    html{
        font-size: 50%;
    }

    .Contact form .Input-box input{
        width: 100%;
    }

    .Home-img img {
        width: 90vw;
    }

    .Home-content h3 {
        font-size: 1.6rem;
    }

    .Home-content span{
        font-size: 1.6rem;
    }

    .Home-content h1{
        font-size: 5rem;
    }

    .Portfolio{
        padding: 16% 5%;
 
     }
 
     .About{
         padding: 16% 5%;
     }

     .About-img{
        margin-top: 2rem;
        width: 30rem;
        height: 30rem;
    }

    .About-img img{
        width: 90%;
     
     .Skill{
        padding: 1rem;
     }

     .Skill h2{
        margin-bottom: -20px;
     }

     .Contact{
        padding: 3% 0 70%;
     }

    .About-img img{
        width: 90vw;
    }

    .Footer{
        flex-direction: column-reverse;
    }

    .Footer p{
        text-align: center;
        margin-top: 1.5rem;
    }

    .Heading{
        font-size: 2.5rem;
    }

}

@media (max-width: 350px) {

    .Button{
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
    }
}


/*---- End Responsive*/
